/** فونت شبنم  */
@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ttf/Shabnam-Light.ttf") format("truetype"),
    url("../fonts/woff/Shabnam-Light.woff") format("woff"),
    url("../fonts/eot/Shabnam-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ttf/Shabnam.ttf") format("truetype"),
    url("../fonts/woff/Shabnam.woff") format("woff"),
    url("../fonts/eot/Shabnam.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ttf/Shabnam-Bold.ttf") format("truetype"),
    url("../fonts/woff/Shabnam-Bold.woff") format("woff"),
    url("../fonts/eot/Shabnam-Bold.eot?#iefix") format("embedded-opentype");
}
* {
  font-weight: bold;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
}

body {
  font-family: "Shabnam", sans-serif;
  direction: rtl;
  background: linear-gradient(
    to right,
    #e5fbe6 0%,
    #d0f2ce 40%,
    #c3e8b8 70%,
    #b4ddb0 100%
  );

  padding: 0;
  margin: 0;
  position: relative;
}

button {
  border: 2px solid rgb(172, 57, 57);
  font-family: "Shabnam", sans-serif;
  border-radius: 5px;
}
input,
select,
textarea {
  border: 2px solid rgb(45, 79, 37);
  border-radius: 5px;
  font-family: "Shabnam", sans-serif;
}
button:focus {
  outline: none;
  border: 2px solid rgb(94, 31, 31);
  box-shadow: 0 0 5px rgb(219, 149, 149);
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid rgb(45, 79, 37);
  box-shadow: 0 0 5px rgb(94, 160, 79);
}
#mainVideo {
  border-radius: 5px;
  width: 100%;
  z-index: -10;
}
#titlebar {
  height: 40px;
  background: linear-gradient(
    to right,
    #4f853d 0%,
    #4a7a3b 40%,
    #3c6630 70%,
    #2d4f25 100%
  );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
#titlebar .buttons {
  display: flex;
  align-items: center;
}
#titlebar .buttons button {
  background: transparent;
  width: 30px;
  height: 30px;
  line-height: 27px;
  text-align: center;
  color: white;
  font-size: 27px;
  cursor: pointer;
  border: 1.5px solid white;
  -webkit-app-region: no-drag;
  margin-left: 4px;
}
.title__img {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
}
#btngit {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: -10px;
  left: 10px;
  cursor: pointer;
  z-index: 10;
}
.logo {
  width: 420px;
  height: auto;
  margin: 0 auto;
}
.logo__img {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.logo__description {
  font-size: 20px;
  font-weight: bold;
  color: rgb(226, 82, 82);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.main {
  width: 420px;
  height: auto;
  margin: 0 auto;
}
.main__name {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.main__name-content {
  color: rgb(45, 79, 37);
}
input[type="text"] {
  padding: 6px 8px;
  flex: 1;
}
input[type="number"] {
  padding: 6px 8px;
  width: 112px;
}
.main__button-br {
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  background-color: rgb(226, 82, 82);
  font-weight: bold;
}
/*! notif */
.modal-center {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-box {
  background: linear-gradient(
    to right,
    #e5fbe6 0%,
    #d0f2ce 40%,
    #c3e8b8 70%,
    #b4ddb0 100%
  );
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 320px;
}
.video {
  border-radius: 5px;
  overflow: hidden;
}
